.bg-image {
  background-image: url("https://images2.alphacoders.com/718/718911.jpg");
}

.transparent {
  background: transparent;
}
/* fonts classes */
@font-face {
  font-family: Anurati;
  src: url(../font/Anurati.otf);
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.roboto-md {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.robot-lg {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}
.lato {
  font-family: "Lato", sans-serif;
}
.lato-lg {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}
.lato-md {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
.anton {
  font-family: "Anton", sans-serif;
}
.anton-lg {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
}
.abril {
  font-family: "Abril Fatface", cursive;
}
.abril-md {
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
}
.abril-lg {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
}
.lobster {
  font-family: "Lobster", cursive;
}

.lobster-lg {
  font-family: "Lobster", cursive;
  font-size: 2.5rem;
}
.logo {
  font-family: Anurati;
}
.VT323 {
  font-family: "VT323", monospace;
}

.intro {
  font-size: 20px;
  color: black;
}
.bigger {
  font-size: 18px;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
}

.caption {
  height: 450px;
  padding: 100px 0 100px 0;
  margin: 10px;
}
